.navbar-link {
    font-family:        'Google sans';
    font-size:          30px;
    margin:             1%;
    cursor:             pointer;
}

.navbar-link a {
    text-decoration:    none;
    color:              black;
}