.navbar-link {
    font-size:          30px;
    margin:             1%;
    cursor:             pointer;
}

.navbar-link a {
    text-decoration:    none;
    color:              black;
}

a {
    cursor: pointer;
}

button {
    all: unset;
}

.scaling {
    transition: scale 0.5s ease-in-out 50ms;
}

.scaling:hover {
    scale: 2
}

.rotating {
    transition: rotate 0.5s ease-in-out 50ms;
}

.rotating:hover {
    rotate: 180deg;
}