.navbar-link {
    font-family:        'Noto Sans';
    font-size:          30px;
    margin:             1%;
    cursor:             pointer;
}

.navbar-link a {
    text-decoration:    none;
    color:              black;
}

.Hover {
    text-decoration: none;
    opacity: 1;
}
.Hover:hover {
    text-decoration: underline;
}

.scrolling {
    text-overflow: ellipsis;
}

::-webkit-scrollbar {
    width: 10px;
    
}

::-webkit-scrollbar-track{
    background: #EFF1EF;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background: #1a73e8;
    border-radius: 10px;
}